@import "../../../_css/common";

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
}

.adress {
  margin-bottom: 30px;
}

.payment {
  margin-bottom: 30px;
  margin-top: 20px;
}